.center-square{
   display: flex;
   flex-direction: column;
   background-color: transparent
   
}

li:last-child{
    margin-bottom: 20px;
}

.messages{
    overflow-y: scroll;
}


.input-message{
    margin-bottom: 20px;
}